/* classes des traits et rond du soleil */
.sun-color_sun{
    stroke:#ffbf00;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:48px;
    transform-origin: center;
}

/* supression de la couleur du fond */
.sun-color_sun,
.sun-color_fill_no{
    fill:none;
}

/* animation des traits horizontaux et verticaux */
#sun-trait_h,
#sun-trait_d,
#sun-trait_b,
#sun-trait_g{
    animation: anim-sun_trait 2s infinite alternate ease-in-out ;
}

/* animations des traits diaguonaux */
#sun-trait_h-d,
#sun-trait_b-d,
#sun-trait_b-g,
#sun-trait_h-g{
    animation: anim-sun_trait 2s infinite alternate-reverse ease-in-out;
}

@keyframes anim-sun_trait {
    from { scale: 1.1}
    to { scale: 0.9}
}