.sunset-rect,
.sunset-sun{
    fill:transparent;
}

.sunset-sun{
    stroke:#ff9300;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:48px;
}

#sunset-rect:hover ~ #sunset-traits{
    transform-origin: center;
    animation: anim-sunset_traits 1s infinite alternate ease-in-out;
}

@keyframes anim-sunset_traits {
    from { transform: scale(1.1);}
    to { transform: scale(0.9);}
}