/* import de police google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,500;1,700&display=swap');

/* principales (fond, titre, couleurs) */
@import url("style/main/main.css");

/* message d'erreur affiché lorsque la ville n'a pas été trouvé */
@import url("style/message/message.css");

/* barre de recherche */
@import url("style/recherche/recherche.css");

/* case des résultats, infos */
@import url("style/resultat/resultat.css");

/* import de toutes les feuilles de styles des icons */
@import url("public/cloud/color.css");
@import url("public/cloud_few/color.css");
@import url("public/cloud_few_moon/color.css");
@import url("public/cloud_lot/color.css");
@import url("public/sun/color.css");
@import url("public/humidity/color.css");
@import url("public/mist/color.css");
@import url("public/moon/color.css");
@import url("public/pressure/color.css");
@import url("public/snow/color.css");
@import url("public/sunrise/color.css");
@import url("public/sunset/color.css");
@import url("public/wind/color.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}