/* marge de tous les éléments */
.info{
    margin: 5vw;
    margin-top: 5vh;   
}

/* alignement du formulaire (barre de recherche et bouton) */
form{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 320px;
}

/* barre de recherche */
input{    
    width: auto;
    height: auto;
    padding: 0.75rem;
    border: var(--border);
    border-radius: 15px;
    background-color: var(--background-input);
    font-size: 1rem;
    color: var(--texte-color);    
}

/* bouton */
.form_button{
    padding: 10px;
    
    border: var(--border);
    border-radius: 100%;
    background-color: var(--background-input);
}

/* suppression du bouton en dessous d'une certaine taille d'écran */
@media (max-width: 315px) {
    .form_button{
        display: none;
    }
}
