.cloud-nuage{
    fill:#aaaaa6;
}

#cloud{
    scale: 0.9;
    transform-origin: center;
    animation: anim-cloud 3s infinite alternate ease-in-out;
}

@keyframes anim-cloud {
    from { transform: translateX(-10px);}
    to { transform: translateX(10px);}
}