.cloud-nuage{
    fill:#aaaaa6;
}

#cloud{
    animation: anim-cloud 2s infinite alternate ease-in-out;
}

@keyframes anim-cloud {
    from { transform: translate(25px, 10%);}
    to { transform: translate(15px, 10%);}
}