@import "../variables.scss";

body{      
    padding: 5vw;
    padding-top: 5vh; 
    background-color: $bg-d;
    color: $txt-color;
    
    /* titre de la page "Ma Météo" */
    h1{
        margin: 5% 0;
        font-size: 3rem;
        font-weight: bold;  
    
        span{
            font-size: 3.5rem;
            text-decoration: underline;
        }
    }

    // taille et couleur des svg
    .resultat{
            
        // changement de couleur des icons
        .infos,
        .wind{
            background: $bg-txt-plein;
            
            svg{
                width: 50px;
                height: 50px;
            }

            .pression_icon,
            .visibility_icon{
                stroke: $txt-color;
            }
        }
    }
    

}

/* Couleurs du fond.
Seule une est appeler en fonction de l'heure déterminer grace à la fonction php "determineBackgroundColor" dans index.php
*/
.daytime {
    background-color: $bg-d;
    
    h1{
        
        span{
            color: darken($bg-d, 50%);
        }
    }
    
    input{
        color: darken($bg-d, 50%);
    }

    // couleur de l'heure affichée. Se trouve dans le fichier "resultat.scss"  
    .txt_heure{
        color: darken($bg-d, 50%);
    }


}
            
            
.nighttime {
    background-color: $bg-n;
    color: $txt-color-light;
    
    h1{
        color: $txt-color-light;
                    
        span{
            color: lighten($bg-n, 60%);
        }
    }
    
    input{
        color: lighten($bg-n, 60%);
    }
    
    // couleur de l'heure affichée. Se trouve dans le fichier "resultat.scss"
    .txt_heure{
        color: $bg-n;
    }

    .resultat{

        // changement de couleur des icons
        .infos,
        .wind{
            background: $bg-txt-plein-light;

            .pression_icon,
            .visibility_icon{
                stroke: $txt-color-light;
            }
        }

    }
    
}

.sunrise-sunset {
    background-color: $bg-s;
    
    h1{
        
        span{
            color: darken($bg-s, 60%);
        }
    }   

    input{
        color: darken($bg-s, 60%);
    }
    
    // couleur de l'heure affichée. Se trouve dans le fichier "resultat.scss"
    .txt_heure{
        color: darken($bg-s, 60%);
    }
}



