@charset "UTF-8";
/* zone du résultat, l'ensemble des données renvoyer par l'api de météo
    ATTENTION : les couleurs des textes et des zone ".temperature" et ".sunrise-set" sont définit dans le fichié "main.scss"
    car dépendent de l'heure
*/
.resultat .resultat_tableau .rain-snow, .resultat .resultat_tableau .sunrise-set, .resultat .resultat_tableau .wind, .resultat .resultat_tableau .infos, .resultat .temperature {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px;
  border: #eee solid 1px;
  border-radius: 15px;
}

.resultat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 4.5vw auto;
  font-size: 1rem;
}
.resultat .temperature {
  flex-basis: 550px;
  min-width: 250px;
  border-width: 5px;
  background-color: rgba(238, 238, 238, 0.5019607843);
}
.resultat .temperature .temp_icon {
  flex: none;
  width: 50%;
  height: 100%;
  margin: 0 10px 0 -10px;
}
.resultat .temperature .temp_icon svg {
  display: block;
  margin: auto auto;
  width: 90%;
  height: 100%;
}
.resultat .temperature .temp_txt .txt_temperature {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.resultat .temperature .temp_txt .txt_ressentie,
.resultat .temperature .temp_txt .txt_nuage {
  font-size: 0.8rem;
  font-style: italic;
}
.resultat .temperature .temp_txt .txt_description {
  font-weight: bold;
}
.resultat .temperature .temp_txt .txt_minmax {
  font-weight: bold;
  font-style: italic;
}
.resultat .temperature .temp_txt .txt_heure {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 640px) {
  .resultat .temperature {
    gap: 20px;
  }
  .resultat .temperature .temp_txt {
    font-size: 1.5rem;
  }
  .resultat .temperature .temp_txt .txt_temperature {
    font-size: 4rem;
  }
  .resultat .temperature .temp_txt .txt_ressentie,
  .resultat .temperature .temp_txt .txt_nuage {
    font-size: 1rem;
  }
  .resultat .temperature .temp_txt .txt_heure {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
}
.resultat .resultat_tableau {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex: auto;
  flex-basis: 300px;
  max-width: 630px;
  min-width: 250px;
}
@media (min-width: 967px) {
  .resultat .resultat_tableau {
    justify-content: left;
  }
}
.resultat .resultat_tableau .infos {
  justify-content: space-around;
  flex-basis: 500px;
  max-width: 640px;
  min-width: 250px;
}
.resultat .resultat_tableau .infos span {
  display: block;
  width: 1px;
  height: 75px;
  background: #b3b3b3;
}
.resultat .resultat_tableau .infos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.resultat .resultat_tableau .infos div .info_titre {
  font-weight: bold;
}
.resultat .resultat_tableau .wind {
  max-width: max-content;
  height: auto;
  gap: 20px;
}
.resultat .resultat_tableau .wind div .wind_speed {
  margin-bottom: 10px;
}
.resultat .resultat_tableau .wind div span {
  font-weight: bold;
}
@media (min-width: 600px) {
  .resultat .resultat_tableau .wind {
    display: flex;
    flex-direction: column;
  }
  .resultat .resultat_tableau .wind div {
    text-align: center;
  }
  .resultat .resultat_tableau .wind div span {
    display: none;
  }
}
@media (min-width: 967px) {
  .resultat .resultat_tableau .wind {
    flex-direction: row;
  }
  .resultat .resultat_tableau .wind div {
    text-align: left;
  }
  .resultat .resultat_tableau .wind div span {
    display: inline;
  }
}
@media (min-width: 1110px) {
  .resultat .resultat_tableau .wind {
    flex-direction: column;
  }
  .resultat .resultat_tableau .wind div {
    text-align: center;
  }
  .resultat .resultat_tableau .wind div span {
    display: none;
  }
}
.resultat .resultat_tableau .sunrise-set {
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  border-width: 3px;
  background: rgba(238, 238, 238, 0.5019607843);
}
.resultat .resultat_tableau .sunrise-set div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}
.resultat .resultat_tableau .rain-snow {
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  flex: auto;
  flex-basis: 200px;
  min-width: 80px;
  max-width: 250px;
  gap: 10px;
}
.resultat .resultat_tableau .rain-snow div .rain_txt {
  font-weight: bold;
  margin-bottom: 10px;
}
.resultat .resultat_tableau .rain-snow div p {
  margin-bottom: 5px;
}
.resultat .resultat_tableau .rain-snow div p span {
  font-weight: normal;
  font-style: italic;
}

/*# sourceMappingURL=resultat.css.map */
