@import "../variables.scss";

/* zone du résultat 
    ATTENTION : si la couleur n'est pas définit ici, c'est qu'elle hérite de celle définit dans "main.scss"
*/

%zone{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px;
    border: $border;
    border-radius: $border-radius;
}

.resultat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gap-big;
    margin: 4.5vw auto;
    font-size: 1rem;

    // 1er zone : température avec grand icon
    .temperature{
        @extend %zone;
        height: fit-content;
        flex-basis: 550px;
        min-width: 250px;
        border-width: 5px;
        background-color: $bg-txt;

        @media (#{$ecran-sm}){
            gap: $gap-big;
        }

        img{
            width: 50%;
        }
        
        .temp_txt{

            @media (#{$ecran-sm}){
                font-size: 1.5rem;
            }
            
            .txt_temperature{
                margin-bottom: 1rem;
                font-size: 2.5rem;
                font-weight: bold;

                @media (#{$ecran-sm}){
                    font-size: 4rem;
                }
            }

            .txt_ressentie,
            .txt_nuage{
                font-size: 0.80rem;
                font-style: italic;

                @media (#{$ecran-sm}){
                    font-size: 1rem;
                }
            }

            .txt_description{
                font-weight: bold;
            }

            .txt_minmax{
                font-weight: bold;
                font-style: italic;
            }

            // ATTENTION : la couleur de l'heure est définit dans "main.scss" car dépend de l'heure
            .txt_heure{
                margin: 0.5rem 0;
                font-size: 1.5rem;
                font-weight: bold;

                @media (#{$ecran-sm}){
                    margin: 1rem 0;
                    font-size: 2.5rem;
                }
            }
        }
    }
    
    .resultat_tableau{
        border: $border-test;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap-big;
        flex: auto;
        flex-basis: 300px;
        max-width: 640px;
        min-width: 250px;

        @media (min-width : 967px) {
            justify-content: left;
        }
        
        // 2ème zone : pression + humidite + visibilité
        // ATTENTION : la couleur du fond, et des icons est définit dans main.scss
        .infos{
            @extend %zone;
            justify-content: space-around;
            flex-basis: 500px;
            max-width: 640px;
            min-width: 250px;

            // séparation entre chaque valeur
            span{
                display: block;
                width: 1px;
                height: 75px;
                background: lighten($txt-color, 50%);
            }

            // ce qui est commun au 3 valeurs (alignement + taille de l'icon)
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $gap-small;

                .info_titre{
                    font-weight: bold;
                }
            }
        }

        // 3ème zone : vent
        .wind{
            @extend %zone;
            justify-content: space-around;
            max-width: max-content;
            height: auto;
            gap: $gap-big;

            // aligne le texte en fonction de la taille d'écran
            @media (min-width : 600px){
                display: flex;
                flex-direction: column;
            }

            @media (min-width : 967px){
                flex-direction: row;
            }

            @media (min-width : 1110px){
                flex-direction: column;
            }

            // affiche/cache le texte en fonction de la taille d'écran
            div{

                .wind_speed{
                    margin-bottom: $gap-small;
                }

                span{
                    font-weight: bold;
                }
                
                @media (min-width : 600px){
                    text-align: center;

                    span{
                        display: none;
                    }
                }

                @media (min-width : 967px){
                    text-align: left;

                    span{
                        display: inline;
                    }
                }
                                
                @media (min-width : 1110px){
                    text-align: center;

                    span{
                        display: none;
                    }
                }

            }
        }

        // 4ème zone : heure de lever et coucher du soleil
        .sunrise-set{
            @extend %zone;
            justify-content: space-around;
            width: 100%;
            max-width: 300px;
            border-width: 3px;
            background: $bg-txt;

            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                font-weight: bold;
            }
        }

        // 5ème zone : la pluie
        .rain{
            @extend %zone;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            flex: auto;
            flex-basis: 200px;
            min-width: 80px;
            max-width: 250px;
            gap: $gap-small;

            div{
                display: flex;
                flex-direction: column;
                justify-content: left;
                gap: 5px;

                .rain_txt{
                    font-weight: bold;
                }

                span{
                    font-weight: normal;
                    font-style: italic;
                }
            }
        }

    }

}