.cloud_lot-nuage_ar{
    fill:#333;
    animation: anim-cloud_lot-nuage_ar 2s infinite ease-in-out;
}

.cloud_lot-nuage_av{
    fill:#aaaaa6;
    animation: anim-cloud_lot-nuage_av 2s infinite ease-in-out;
}

@keyframes anim-cloud_lot-nuage_ar {
    0% { transform: translateX(0);}
    50% { transform: translateX(-10px);}
    100% { transform: translateX(0);}
}

@keyframes anim-cloud_lot-nuage_av {
    0% { transform: translateX(0);}
    50% { transform: translateX(10px);}
    100% { transform: translateX(0);}
}
