#cloud_lot{
    transform: translate(10%, 10%);
}

.cloud_lot-nuage_ar{
    fill:#333;
    animation: anim-cloud_lot 2s infinite alternate ease-in-out;
}

.cloud_lot-nuage_av{
    fill:#aaaaa6;
    animation: anim-cloud_lot 2s infinite alternate-reverse ease-in-out;
}

@keyframes anim-cloud_lot {
    from { transform: translateX(5px);}
    to { transform: translateX(-5px);}
}
